# Configuracio local
.venv
.vscode

# Generado tras cada ejecucion
# temp/graficas/*
# temp/tablas/*
# report/
src/__pycache__
__pycache__

# Archivos de pruebas
prueba.py
banco_trabajo.ipynb
data/*.csv
# utiles.ipynb

# Archivos generados
temp/graficas
